<!-- En tu plantilla ejercicio.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio {{ num }}</title>
    <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
    <h1>Ejercicio {{ num }}</h1>
    <h3>{{ exercise.titulo }}</h3>
    <p>{{ exercise.descripcion }}</p>
    <pre>
        <code>
            {{ exercise.codigo | e }}
        </code>
    </pre>
</body>
</html>
