<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio</title>
    
    <!-- Agregamos los estilos de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Enlace al archivo de estilos personalizados -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Mi Sitio Web</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Registrarme</a>
            </li>
        </ul>
    </div>

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Página de inicio</h1>
            <p class="lead">¡Bienvenido a la página de inicio!</p>
        </div>
    </div>

    <footer class="footer text-center mt-4">
        <p>&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
    </footer>

</body>
</html>
