<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensaje de Agradecimiento</title>
    <!-- Puedes incluir estilos específicos para tu mensaje aquí -->
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <h1>¡Gracias por enviar tus datos!</h1>
    <p>Equipo Favorito: {{ equipo }}</p>
    <p>Jugador Favorito: {{ jugador }}</p>
    <p>Tu amor por el fútbol es genial. ¡Vamos a disfrutar juntos!</p>
</body>
</html>
